html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #dadada;
    scroll-behavior: smooth;
}


.content {
    height: 100vh;
    width: 100%;
    background: url("img/dota.jpg") no-repeat center center fixed;
    background-size: cover;
}

.navbar  {
    
}

.datacontent {
    display: grid;
    grid-template-columns: 1fr;
    color: rgba(255,255,255,0.7);
    row-gap: 25px;
}

.datacontent .heading {
    /* font-size: 2rem; */
    text-align: center;
}

.datacontent .sub-heading {
    /* font-size: 1rem; */
    text-align: center;
}

.datacontent .announcement {
    /* font-size: 1rem; */
    text-align: center;
}

.datacontent .countdown {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
    /* place-items: center; */
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    /* grid-template-columns: 150px 150px 150px 150px; */
}

.datacontent .countdown div {
    display: grid;
    justify-items: center;
    align-items: center;
    /* width: 130px;
    height: 115px;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    background-color: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,.1); */
}

.datacontent .countdown div h1 {
    font-size: 60px;
    text-align: center;
}

.datacontent .countdown div p {
    /* font-size: 60px; */
    /* text-align: center; */
    text-align: justify;
    /* padding: 20px; */
}

.datacontent .botom {
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    column-gap: 10px;
    justify-content: center;
}

.datacontent .social {
    display: inline-flex;
    justify-content: center;
}

.datacontent .social a {
    size: 2em;
    padding: 5px;
    color: white;
}

.datacontent .anime {
    display: flex;
    justify-content: center;
}
.datacontent .anime a{
    /* transition-delay: 1s; */
    transition: all 0.5s ease;
}

.card {
    background-color: #dddddd;
}

.textcontent {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    padding: 20px;
}

.textcontent hr {
    width: 20%;
    margin: auto;
}

.service {
    text-align: center;
}

.textcontent .service .list {
    display: grid;
    width: 100%;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
    /* grid-template-columns: ; */
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    column-gap: 20px;
    row-gap: 20px;
}

.textcontent .service .list .card{
    width: 100%;
    height: 100%;
}


.textcontent .about {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}

.textcontent .about .list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    column-gap: 20px;
    row-gap: 20px;
}

.textcontent .about .list .card{
    justify-items: center;
    align-items: center;
}


.textcontent .about .list .card img{
    width: 100%;
    height: 100%;
    background-size: cover;
}

@media only screen and (max-width: 320px) {
    .textcontent .about .list .card img{
        width: 280px;
        height: 240px;
        background-size: cover;
    }
}

.textcontent .contact {
    text-align: center;
}
.textcontent .details {
    text-align: justify;
}